kind: Service
apiVersion: v1
metadata:
  name: product-service-service
  labels:
    app: product-service
spec:
  selector:
    app: product-service-deployment
  ports:
    - name: http
      protocol: TCP
      port: 8080
      targetPort: 8080
  type: NodePort
