apiVersion: v1
kind: Service
metadata:
  name: order-mysql-service
  namespace: default
  labels:
    app: order-mysql
spec:
  type: ClusterIP
  ports:
    - port: 3306
      targetPort: 3306
      protocol: TCP
      name: mysql
  selector:
    app: order-mysql
