kind: Service
apiVersion: v1
metadata:
  name: mysql-inventory-service
  labels:
    app: inventory-mysql
spec:
  selector:
    app: inventory-mysql
  ports:
    - protocol: TCP
      port: 3306
      targetPort: 3306
  type: ClusterIP
