kind: Deployment
apiVersion: apps/v1
metadata:
  name: gateway
  labels:
    app: gateway
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gateway
  template:
    metadata:
      labels:
        app: gateway
    spec:
      initContainers:
        - name: wait-for-services
          image: busybox:1.35
      containers:
        - name: gateway
          image: aymanaomarihub/gateway:v1.0.0
          ports:
            - containerPort: 9000
          envFrom:
            - configMapRef:
                name: gateway-config
          resources:
            requests:
              cpu: "200m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
