apiVersion: v1
kind: Service
metadata:
  name: keycloak-db-service
  namespace: default
  labels:
    app: keycloak-db
spec:
  type: ClusterIP
  ports:
    - port: 3306
      targetPort: 3306
      protocol: TCP
      name: mysql
  selector:
    app: keycloak-db
